.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #444;
    
}

tbody {
    border-radius: 8px;
    padding: 20px;
}
th, td{
    padding: 10px;
    text-align: left;
}
th{
    background-color: #ffdf0f;
}
td{
    border-bottom: 1px solid #fff;
}
tbody tr{
    background-color: #fff;
    color: #444;
}

.badge img{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.status {
    display: flex;
    gap:5px;
}
.status span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.status .win{
    background-color: #4caf50;
}
.status .draw {
    background-color: #ffc107;
}
.status .loss{
    background-color: #f44336;
}