{% extends 'base.html' %}

{% block content %}

<div class="container" style="width: 60%;">
    <div class="header" style="background-color: #ffdf0f;display: flex;justify-content: center;">
        <h3>{{ jogo.clube_casa }} vs {{ jogo.clube_fora}} </h3>
    </div> 
    <div class="game-info">
        <span class="result" style="font-size: 28px;">{{jogo.gols_casa}}:{{jogo.gols_fora}}</span>
        
        <div class="gols" style="color: #141414;">
            <h3 style="display: flex;justify-content: center;">Golos</h3>
            {% for golo in golos_casa %}
                <p class="gol-casa" style="margin-right: 200px;" >{{golo.jogador.nome}} <span class="gol-time" style="margin-left: 25px;font-weight: 500;" >{{golo.tempo}}</span> </p>
            {% endfor %}
            {% for golo in golos_fora %}
                <p class="golo-fora" style="margin-left: 200px;"> <span class="gol-time" style="margin-right: 25px;font-weight: 500">{{golo.tempo}}</span> {{golo.jogador.nome}} </p>
            {% endfor %}
        </div>
        <h3 style="display: flex;justify-content: center;color: #141414;">Jogadores</h3>
        <div class="jogadores" style="
            color: #141414; 
            display: flex;
            justify-content: space-between;flex-direction: row;gap: 140px;" >
            <div class="jogadores-casa" style="display: flex;flex-direction: column;">
                <h4>{{jogo.clube_casa}}</h4>
                    {% for jogador in jogadores_casa %}
                        <p class="jogador">
                            {{jogador.nome}} - {{jogador.numero}}
                        </p>
                    {% endfor %}
            </div>
            <div class="jogadores-fora" style="display: flex;flex-direction: column;">
                <h4>{{jogo.clube_fora}}</h4>
                {% for jogador in jogadores_fora %}
                <p class="jogador">
                    {{jogador.numero}} - {{jogador.nome}}
                </p>
                {% endfor %}
            </div>
        </div>
        
    </div>      
</div>
{% endblock content %}