{% extends 'base.html' %}

{% block content %}

<div class="container" style="
    width: 80%;
    margin-top: 20px;">
    <div class="header" style="background-color: #ffdf0f;display: flex;justify-content: center;
    border-radius: 8px 8px 0px 0px;">
        <h1>{{clube.nome}}</h1>
    </div>
    
    <div class="teams-grid">
        <div class="team" style="display: flex;justify-content: center;">                
                <span class="badge-med"><img src="{{clube.avatar.url}}" alt="img"></span>
        </div>
        <div class="team-member" style="color: #141414;">
            <h3>Treinador</h3>
                {{ clube.treinador }}
            <h3>Estadio</h3>
                {{ clube.estadio }}            
            <h3>Jogadores</h3>
            {% for jogador in jogadores %}
                <ul>
                    <li> <a href="{% url 'clubes:jogador-detail' clube.pk jogador.pk %}">{{jogador.nome}} - {{jogador.posicao}} </a></li>
                </ul>
            {% endfor %}

        </div>
        
    </div>
</div>
{% endblock content %}